[submodule ".vim/pack/vim-javascript/start/vim-javascript"]
	path = .vim/pack/vim-javascript/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/vim-powerline/start/vim-powerline"]
	path = .vim/pack/vim-powerline/start/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
